.not-found {
    padding: 4rem 2rem;
    text-align: center;

    @include breakpoint-up(large) {
        padding: 4rem 1rem;
    }

    h3 {
        font-size: 1.8rem;
        color: var(--text-1);
    }

    p {
        line-height: 1.5;
        margin: 1.75rem auto;
        color: var(--gray-69);

        @include breakpoint-up(large) {
            line-height: normal;
        }
    }

    a {
        color: transparent;
        @include gradient-text;
    }
}