.todos {
    max-width: 90%;
    margin: 6rem auto;

    @include breakpoint-up(large) {
        max-width: 70rem;
    }

    @include breakpoint-up(medium) {
        margin: 7.5rem auto;
    }

    @import '../todos/form';
    @import '../todos/todo';
    @import '../todos/guide';
    @import '../todos/header';
    @import '../todos/filter';
    @import '../todos/wrapper';
    @import '../todos/empty-list';
}