.todos__form {
    border-radius: 5px;
    background: #fff;
    margin: 42px auto 0;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);

    input {
        border: none;
        outline: none;
        font-size: 18px;
        margin-left: 2px;
        font-family: inherit;
        letter-spacing: -.25px;

        &::placeholder {
            color: #9394a5;
        }

        &[type=text] {
            width: 56%;
        }

        &[type=date] {
            width: 32%;
            margin-left: auto;
        }
    }
}