.todos__form {
    background: $white;
    padding: 1.6rem 2rem;
    margin: 3.8rem auto 0;
    border-radius: 0.5rem;
    box-shadow: var(--component-shadow);
    @include flexbox(center, flex-start);

    @include breakpoint-up(large) {
        padding: 2rem 2.4rem;
        margin: 4.2rem auto 0;
    }

    input {
        border: none;
        outline: none;
        font-size: 1.35rem;
        margin-left: 0.2rem;
        font-family: inherit;
        letter-spacing: -.25px;

        @include breakpoint-up(large) {
            font-size: 1.8rem;
        }

        &::placeholder {
            color: var(--grey-12);
        }

        &[type=text] {
            width: 52%;

            @media (min-width: 768px) {
                width: 65%;
            }

            @include breakpoint-up(large) {
                width: 56%;
            }
        }

        &[type=date] {
            width: 35%;
            margin-left: auto;

            @media (min-width: 768px) {
                width: 25%;
            }

            @include breakpoint-up(large) {
                width: 32%;
            }
        }
    }
}