.todos__guide {
    margin-top: 4.9rem;
    text-align: center;

    p {
        color: #9495a5;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.5rem;
        letter-spacing: -.19px;
    }
}