.todos__guide {
    margin-top: 5rem;
    text-align: center;

    p {
        color: #9495a5;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: -.19px;

        @include breakpoint-up(large) {
            font-size: 1.4rem;
        }
    }
}