.todos__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__logo {
        color: white;
        font-size: 27px;
        letter-spacing: 12px;

        @include breakpoint-up(large) {
            font-size: 40px;
            letter-spacing: 15px;
        }
    }

    &__icon {
        width: 21px;
        margin-top: 0;
        cursor: pointer;

        @include breakpoint-up(large) {
            width: 26px;
            margin-top: 7px;
        }
    }
}