.todo {
    &__item {
        display: grid;
        align-items: center;
        padding: 1.6rem 2rem;
        border-bottom: var(--border);
        grid-template-columns: 0.5fr 4fr 1fr 0.5fr;
        transition: var(--transition) border-bottom;

        @include breakpoint-up(large) {
            padding: 2rem 2.4rem;
            grid-template-columns: 0.5fr 5fr 1fr 0.5fr;
        }

        @include breakpoint-up(medium) {
            grid-template-columns: 0.5fr 6fr 1fr 0.6fr;
        }

        &.today__item {
            grid-template-columns: 0.5fr 4fr 0.5fr;

            @include breakpoint-up(large) {
                grid-template-columns: 0.5fr 5fr 0.5fr;
            }
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            background: none;
            font-size: 1.4rem;
            margin-top: 0.3rem;
            font-family: inherit;
            color: var(--text-1);

            @include breakpoint-up(large) {
                font-size: 1.75rem;
            }
        }

        p {
            font-size: 1.4rem;
            margin-top: 0.3rem;
            color: var(--text-1);

            @include breakpoint-up(large) {
                font-size: 1.75rem;
            }

            &::first-letter {
                text-transform: capitalize;
            }
        }

        .deadline {
            color: var(--text-3);
        }

        button {
            border: none;
            cursor: pointer;

            &.deleteBtn {
                width: 1.25rem;
                height: 1.5rem;
                background: none;
                justify-self: flex-end;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                background-image: var(--bg-icon-cross);
                transition: var(--transition) background-image, var(--transition) transform;

                @include breakpoint-up(large) {
                    width: 1.8rem;
                    height: 1.8rem;
                }

                &:hover {
                    transform: scale(1.25);
                    background-image: var(--bg-icon-cross-hover);
                }
            }
        }
    }

    &.completed {
        p {
            color: var(--text-5);
            text-decoration: line-through;
        }
    }
}