.checkbox {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    margin-right: 1.2rem;
    background-color: var(--grey-4);
    transition: all 0.3s ease-in-out;

    @include breakpoint-up(large) {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 2.2rem;
    }

    &::before {
        top: 50%;
        left: 50%;
        content: '';
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        border-radius: 50%;
        background-color: $white;
        transform: translate(-50%, -50%);
        transition: background-color .3s ease-in-out, background-image .3s ease-in-out;

        @include breakpoint-up(large) {
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    &:hover,
    &.focusing {
        transform: scale(1.1);
        background-color: transparent;
        background-image: linear-gradient(135deg, $skyBlue 0%, $purple 100%);
    }

    &.completed {
        background-color: transparent;
        background-image: linear-gradient(135deg, $skyBlue 0%, $purple 100%);

        &::before {
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            background-image: url('../../assets/icon-check.svg');
        }
    }
}