input[type=date] {
    padding: 0;
    position: relative;

    &::after {
        font-family: "FontAwesome";
        font-weight: 700;
        content: "\f073";
        color: var(--text-1);
        padding: 0 5px;
        cursor: pointer;
    }

    &:hover::after {
        color: var(--text-4);
    }

    &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }

    &::-webkit-inner-spin-button {
        z-index: 1;
    }

    &::-webkit-clear-button {
        z-index: 1;
    }
}