.home {
    margin-top: 3rem;

    @include breakpoint-up(medium) {
        margin-top: 5.5rem;
    }

    h1 {
        color: var(--grey-1);
        text-transform: capitalize;
    }

    p {
        line-height: 1.5;
        color: var(--grey-2);
    }

    button {
        @include gradient-button;
        height: 4.4rem;
        font-weight: 300;
        font-size: 1.6rem;
        border-radius: 3rem;
        padding: 1.5rem 2rem;

        @include breakpoint-up(medium) {
            height: 4.8rem;
            font-size: 1.8rem;
            padding: 1.7rem 2rem;
        }
    }

    @import '../home/header';
    @import '../home/content';
    @import '../home/free-up';
    @import '../home/about';
    @import '../home/achieve';
    @import '../home/footer';
}