.loading {
    height: 100vh;
    background: var(--grey-5);
    @include flexbox(center, center);

    .circle {
        stroke: url(#Gradient);
        stroke-width: 5;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        stroke-dasharray: 94.0955352783 94.0955352783;
        animation: 8s loader ease infinite alternate, 2s loader2 linear infinite;
    }

    @keyframes loader {
        0% {
            stroke-dasharray: 84.0955352783 104.0955352783;
        }

        100% {
            stroke-dasharray: 178.19107055664062 10;
        }
    }

    @keyframes loader2 {
        0% {
            stroke-dashoffset: 0;
        }

        100% {
            stroke-dashoffset: -188.19107055664062;
        }
    }
}