.navbar {
    z-index: 1;
    position: relative;

    * {
        user-select: none;
    }

    &.open {
        .navbar__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    nav {
        position: relative;
        background: var(--bg-component);
        padding: 2.15rem 2.45rem 1.85rem;
        transition: var(--transition) background;
        @include flexbox(flex-start, space-between);

        @include breakpoint-up(large) {
            padding: 2.25rem 3.5rem 2.25rem 6rem;
            @include flexbox(center, space-between);
        }
    }

    &__logo {
        font-size: 2rem;
        font-weight: bold;
        color: transparent;
        @include gradient-text;
        text-transform: uppercase;

        @include breakpoint-up(large) {
            font-size: 1.8rem;
        }
    }

    &__quote {
        height: 2rem;
        display: flex;
        font-style: italic;
        color: var(--text-1);

        p {
            margin: 0.2rem 0.4rem 0;
        }

        img {
            width: 1.6rem;

            &:first-child {
                align-self: flex-start;
            }

            &:last-child {
                align-self: flex-end;
            }
        }
    }

    &__toggle {
        cursor: pointer;

        >span {
            width: 2.6rem;
            height: 0.2rem;
            display: block;
            transform-origin: 0.3rem 0.1rem;
            transition: var(--transition) all;
            @include gradient-background(130deg);

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        background-image: linear-gradient(var(--overlay), transparent);
    }

    &__menu {
        left: 50%;
        padding: 1.25rem;
        margin-top: 3rem;
        position: absolute;
        border-radius: 0.5rem;
        width: calc(100% - 5rem);
        transform: translateX(-50%);
        background: var(--bg-component);

        a,
        p {
            padding: 1rem;
            display: block;
            cursor: pointer;
            text-align: center;
            color: var(--text-1);

            &:hover {
                color: transparent;
                @include gradient-text;
            }
        }

        p {
            @include flexbox(center, center);

            svg {
                margin-left: 0.6rem;
            }
        }
    }

    &__links {
        @include flexbox(flex-start, flex-start);

        a {
            color: var(--text-1);
            transition: var(--transition) background;

            &:hover {
                color: transparent;
                @include gradient-text;
            }

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &__icon {
        width: 1.75rem;
        cursor: pointer;
        margin-top: -0.1rem;
        color: var(--text-1);
        margin-right: 1.8rem;
    }

    &__profile {
        height: 2rem;
        width: 2.2rem;
        cursor: pointer;
        border-radius: 50%;
        margin-top: -0.3rem;
        background: transparent;

        img {
            width: 100%;
            border-radius: 50%;
            aspect-ratio: auto;
            vertical-align: middle;

            &+div {
                right: 0;
                top: 100%;
                z-index: 2;
                overflow: hidden;
                position: absolute;
                padding: 1rem 1.4rem;
                transform: scaleY(0);
                border: var(--border);
                transform-origin: top right;
                background: var(--bg-component);
                transition: all var(--transition);
                box-shadow: var(--component-shadow);

                &.open {
                    transform: scaleY(1);
                }

                p {
                    cursor: pointer;
                    color: var(--text-1);

                    &:hover {
                        color: transparent;
                        @include gradient-text;
                    }
                }
            }
        }
    }
}