.profile {
    display: block;
    grid-template-columns: 1fr 1.75fr;

    @include breakpoint-up(large) {
        display: grid;
        max-width: 80rem;
    }

    .active-label {
        z-index: 10000;
        margin-bottom: 0;
        border-radius: 10rem;
        @include flexbox(center, center);
        background-color: rgba(0, 0, 0, .8);
        transition: background-color .2s ease-in-out;
    }

    &__picture {
        padding: 4rem 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        @include flexbox(center, center);
        @include gradient-background(230deg);

        @include breakpoint-up(large) {
            padding: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0.5rem;
        }

        &__wrapper {
            position: relative;
            color: transparent;
            transition: all .3s ease;
            @include flexbox(center, center);

            input {
                display: none;
            }

            img {
                z-index: 0;
                width: 16.5rem;
                height: 16.5rem;
                object-fit: cover;
                position: absolute;
                border-radius: 10rem;
                vertical-align: middle;
                box-shadow: 0 0 1rem 0 rgba(255, 255, 255, .35);
            }

            label {
                color: $white;
                width: 16.5rem;
                height: 16.5rem;
                cursor: pointer;

                span {
                    display: none;
                }

                img {
                    width: 2em;
                    height: 2em;
                    padding: .2em;
                    display: none;
                    box-shadow: none;
                }

                &.upload {
                    @extend .active-label;

                    span {
                        display: block;
                    }
                }
            }

            &:hover {
                label {
                    @extend .active-label;

                    img {
                        display: inline-flex;
                    }
                }

                .upload {
                    img {
                        display: none;
                    }
                }
            }
        }
    }

    form {
        input[type=submit] {
            margin-bottom: 0;
        }
    }
}