.todos {
    max-width: 87.5%;
    margin: 5.5rem auto;

    @include breakpoint-up(large) {
        max-width: 54rem;
        margin: 7.5rem auto;
    }

    @import '../todos/header';
    @import '../todos/form';
    @import '../todos/wrapper';
    @import '../todos/todo';
    @import '../todos/filter';
    @import '../todos/guide';
    @import '../todos/empty-list';
}