.home__about {
    width: 95%;
    display: flex;
    margin: 4rem auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint-up(large) {
        width: 90%;
        margin: 8rem auto;
        flex-direction: row;
    }

    &__text {
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 4rem 0 5rem;
        justify-content: center;

        @include breakpoint-up(large) {
            padding: 0;
            text-align: left;
            justify-content: flex-start;
        }

        &__wrapper {
            width: 90%;

            @include breakpoint-up(large) {
                width: 85%;
            }

            h1 {
                line-height: 1.5;
                font-size: 2.75rem;
                margin-bottom: 2rem;

                @include breakpoint-up(large) {
                    line-height: normal;
                }

                span {
                    display: block;

                    &:first-child {
                        margin-bottom: 0;

                        @include breakpoint-up(large) {
                            margin-bottom: 1.5rem;
                        }
                    }
                }

                &+p {
                    margin-bottom: 1.5rem;

                    @include breakpoint-up(large) {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    &__image {
        flex: 1;
        order: -1;

        @include breakpoint-up(large) {
            order: 0;
        }

        img {
            width: 100%;
        }
    }
}