.home__achieve {
    margin-top: 0;
    padding: 4rem 0 7rem;
    background: $champagne;
    flex-direction: column;
    @include flexbox(center, space-between);

    @include breakpoint-up(large) {
        padding: 0 0 4rem;
        margin-top: 10rem;
        flex-direction: row;
    }

    &__text {
        flex: 1;
        padding-top: 5rem;
        text-align: center;
        @include flexbox(flex-end, center);

        @include breakpoint-up(large) {
            text-align: left;
            padding-top: 8.5rem;
            @include flexbox(flex-end, flex-start);
        }

        &__wrapper {
            width: 80%;

            h1 {
                line-height: 1.5;
                font-size: 3.5rem;
                margin-bottom: 1.5rem;

                @include breakpoint-up(large) {
                    font-size: 3.65rem;
                    line-height: normal;
                }

                @media screen and (min-width:1275px) {
                    font-size: 4.5rem;
                }

                span {
                    display: block;

                    &:first-child {
                        margin-bottom: 0;

                        @include breakpoint-up(large) {
                            margin-bottom: 1.5rem;
                        }
                    }
                }

                &+p {
                    margin-bottom: 2.5rem;
                }
            }
        }
    }

    &__image {
        flex: 1;

        img {
            width: 100%;
        }
    }
}