.home__footer {
    text-align: center;
    flex-direction: column;
    padding: 3.75rem 2rem 3rem;
    @include gradient-background(130deg);
    @include flexbox(center, space-between);

    @include breakpoint-up(large) {
        text-align: left;
        flex-direction: row;
        padding: 3rem 10rem 2.25rem;
        @include gradient-background(64deg);
    }

    &__logo {
        color: $white;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $purple;
        }
    }

    p {
        color: $white;
        line-height: 1.75;
        margin: 1rem 2rem 1.5rem;

        @include breakpoint-up(large) {
            margin: 0;
            line-height: 1.5;
        }
    }

    &__social {
        svg {
            width: 2.2rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            path {
                fill: $white;
            }

            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            &:hover {
                path {
                    fill: $skyBlue;
                }
            }
        }
    }
}