.home__free-up {
    border-top: none;
    text-align: center;
    margin-top: -0.5rem;
    padding: 6rem 1.5rem;

    @include breakpoint-up(large) {
        padding: 8rem 0;
        border-top: 0.25rem solid $white;
    }

    h1 {
        margin: 0;
        font-size: 4rem;
        line-height: 1.5;

        @include breakpoint-up(large) {
            margin: 2rem auto;
            line-height: normal;
        }
    }

    p {
        width: 80%;
        margin: 1.5rem auto 3rem;

        @include breakpoint-up(large) {
            width: 45%;
            margin: 0 auto 3rem;
        }
    }

    img {
        width: 100%;

        @include breakpoint-up(large) {
            width: auto;
        }
    }
}