@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey-1: #494c6b;
    --grey-2: #777a92;
    --grey-3: #2d314d;
    --bg-icon-cross: url('../assets/icon-cross.svg');
    --bg-icon-cross-hover: url('../assets/icon-cross-hover.svg');
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;

    @include breakpoint-down(small) {
        @include body-background(mobile, light, contain, 50% 5rem);
    }

    @media screen and (max-width:375px) {
        @include body-background(mobile, light, 120%, 50% 5rem);
    }

    @include breakpoint-up(medium) {
        @include body-background(desktop, light, auto, 50% 5.5rem);
    }

    @include breakpoint-up(xlarge) {
        @include body-background(desktop, light, contain, 50% 5.5rem);
    }

    &.noscroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    display: block;
    background-image: linear-gradient(var(--grey-3), transparent);

    @include breakpoint-up(large) {
        display: none;
    }
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none !important;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none !important;
    }
}