.home {
    margin-top: 5.5rem;

    h1 {
        color: #494c6b;
        text-transform: capitalize;
    }

    p {
        color: #777a92;
        line-height: 1.5;
    }

    button {
        @include gradient-button;
        height: 48px;
        font-size: 18px;
        font-weight: 300;
        padding: 17px 20px;
        border-radius: 30px;
    }

    &__header {
        text-align: center;
        margin-bottom: 4rem;

        h1 {
            color: $white;
            font-size: 5rem;
            margin-bottom: 3rem;

            span {
                display: block;

                &:first-child {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        margin-bottom: -4px;
        justify-content: space-between;

        &__text {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &__wrapper {
                width: 80%;

                h1 {
                    font-size: 26px;
                    margin-bottom: 14px;
                }

                ul {
                    margin-left: 18px;

                    li {
                        @extend p;
                    }
                }
            }
        }

        &__image {
            flex: 1;

            img {
                width: 100%;
            }
        }
    }

    &__free-up {
        margin-top: -5px;
        text-align: center;
        padding: 8rem 0;
        border-top: 2px solid $white;

        h1 {
            font-size: 4rem;
            margin: 2rem auto;
        }

        p {
            width: 45%;
            margin: 0 auto 3rem;
        }
    }

    &__about {
        width: 90%;
        display: flex;
        margin: 8rem auto;
        align-items: center;
        justify-content: space-between;

        &__text {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &__wrapper {
                width: 85%;

                h1 {
                    font-size: 2.75rem;
                    margin-bottom: 2rem;

                    span {
                        display: block;

                        &:first-child {
                            margin-bottom: 1.5rem;
                        }
                    }

                    &+p {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        &__image {
            flex: 1;

            img {
                width: 100%;
            }
        }
    }
}