.home {
    margin-top: 3rem;

    @include breakpoint-up(medium) {
        margin-top: 5.5rem;
    }

    h1 {
        color: #494c6b;
        text-transform: capitalize;
    }

    p {
        color: #777a92;
        line-height: 1.5;
    }

    button {
        @include gradient-button;
        height: 44px;
        font-size: 16px;
        font-weight: 300;
        padding: 15px 20px;
        border-radius: 30px;

        @include breakpoint-up(medium) {
            height: 48px;
            font-size: 18px;
            padding: 17px 20px;
        }
    }

    @import './home/header';
    @import './home/content';
    @import './home/free-up';
    @import './home/about';
    @import './home/achieve';
    @import './home/footer';
}