@mixin body-background($device, $theme, $size, $position) {
    background: url('../assets//bg-#{$device}-#{$theme}.jpg'),
    $veryLightGray;
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $position;
}

@mixin flexbox($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin gradient-background($degree) {
    background: linear-gradient($degree, $skyBlue, $purple);
}

@mixin gradient-text {
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, $skyBlue, $purple);

    &:hover {
        background-image: linear-gradient(0deg, $skyBlue, $purple);
    }
}

@mixin gradient-button {
    border: none;
    outline: none;
    color: $white;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: inherit;
    background: linear-gradient(135deg, $skyBlue, $purple);

    &:hover {
        background: linear-gradient(270deg, $skyBlue, $purple);
    }
}

// 640px, 1024px, 1440px
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "90em");

// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}