.navbar {
    padding: 2.25rem 8rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    &__logo {
        font-weight: bold;
        color: transparent;
        @include gradient-text;
        text-transform: uppercase;
    }

    &__quote {
        height: 2rem;
        display: flex;
        font-style: italic;

        p {
            margin: 2px 4px 0;
        }

        img {
            width: 16px;

            &:first-child {
                align-self: flex-start;
            }

            &:last-child {
                align-self: flex-end;
            }
        }
    }

    &__links {
        a {
            color: #494c6b;
            transition: background-image 0.3s ease-in-out;

            &:hover {
                color: transparent;
                @include gradient-text;
            }

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}