.not-found {
    max-width: 54rem;
    border-radius: 5px;
    margin: 5rem auto 5rem;
    box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);

    img {
        width: 100%;
        vertical-align: middle;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .content {
        padding: 4rem 1rem;
        text-align: center;

        h3 {
            font-size: 18px;
            color: #494c6b;
        }

        p {
            color: #627d98;
            margin: 1.75rem auto;
        }

        a {
            color: transparent;
            text-decoration: none;
            background-clip: text;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(180deg, $skyBlue, $purple);
        }
    }
}