.todos {
    margin: 77px auto 0;
    max-width: 54rem;

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &__logo {
            color: white;
            font-size: 40px;
            letter-spacing: 15px;
        }

        &__icon {
            width: 26px;
            margin-top: 7px;
            cursor: pointer;
        }
    }

    &__form {
        border-radius: 5px;
        background: #fff;
        margin: 42px auto 0;
        padding: 20px 24px;
        display: flex;
        align-items: center;
        box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);

        input {
            border: none;
            outline: none;
            font-size: 18px;
            margin-left: 2px;
            font-family: inherit;
            letter-spacing: -.25px;

            &::placeholder {
                color: #9394a5;
            }
        }
    }

    &__wrapper {
        padding: 4px 0;
        background: $white;
        border-radius: 5px;
        margin: 24px auto 0;
        box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
    }

    .todo {
        &__item {
            display: flex;
            background: $white;
            align-items: center;
            padding: 20px 24px;
            border-bottom: 1px solid #ddd;

            p {
                margin-top: 3px;
                font-size: 17.5px;
                color: #494c6b;

                &::first-letter {
                    text-transform: capitalize;
                }
            }

            button {
                border: none;
                cursor: pointer;

                &.deleteBtn {
                    background: none;
                    margin-left: auto;
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-left: auto;
                    background-size: cover;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-image: var(--bg-icon-cross);
                    transition: background-image .3s ease-in-out, transform .3s ease-in-out;

                    &:hover {
                        transform: scale(1.25);
                        background-image: var(--bg-icon-cross-hover);
                    }
                }
            }
        }

        &.completed {
            p {
                color: #d1d2da;
                text-decoration: line-through;
            }
        }
    }

    &__filter {
        display: flex;
        justify-content: flex-start;
        padding: 1.6rem 2.4rem 1.9rem;

        .status {
            font-size: 1.4rem;
            line-height: 1.5rem;
            letter-spacing: -.19px;
            font-weight: 400;
            color: #9495a5;
        }

        .filter__buttons {
            display: flex;
            margin-right: auto;
            margin-left: 9.6rem;

            .active-btn {
                margin-left: 1.9rem;
                margin-right: 1.8rem;
            }
        }

        button {
            padding: 0;
            border: none;
            cursor: pointer;
            font-weight: 700;
            background: none;
            color: #9495a5;
            font-size: 1.4rem;
            line-height: 1.5rem;
            font-family: inherit;
            transition: color .3s ease-in-out;

            &.active {
                color: #3a7cfd;
            }

            &:hover {
                color: #494c6b;
            }
        }
    }

    &__guide {
        margin-top: 4.9rem;
        text-align: center;

        p {
            color: #9495a5;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.5rem;
            letter-spacing: -.19px;
        }
    }
}