$brightBlue: hsl(220, 98%, 61%);
//$checkBackground:linear-gradienthsl(192,100%,67%)tohsl(280,87%,65%)

//LightTheme
$veryLightGray: hsl(0, 0%, 98%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);

//DarkTheme
$veryDarkBlue: hsl(235, 21%, 11%);
$darkGrayishBlue: hsl(234, 11%, 52%);
$lightGrayishBlue: hsl(234, 39%, 85%);
$veryDarkGrayishBlue: hsl(233, 14%, 35%);
$veryDarkGrayishBlue: hsl(237, 14%, 26%);
$lightGrayishBlueHover: hsl(236, 33%, 92%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);