$white: #fff;
$black: #000;
$purple: #c058f3;
$skyBlue: #57ddff;
$darkRed: #842029;
$lightRed: #f8d7da;
$champagne: #F9E1D5;
$darkGreen: #0f5132;
$lightGreen:#d1e7dd;
$brightBlue: #3a7bfd;
$royalPurple: #6139B3;