$white: #fff;
$black: #000;
$purple: #c058f3;
$skyBlue: #57ddff;
$champagne: #F9E1D5;
$brightBlue: #3a7bfd;

//LightTheme
$veryLightGray: #fafafa;
$darkGrayishBlue: #9394a5;
$lightGrayishBlue: #d2d3db;
$veryDarkGrayishBlue: #484b6a;

//DarkTheme
$veryDarkBlue: #161722;
$darkGrayishBlue: #777a92;
$lightGrayishBlue: #cacde8;
$veryDarkGrayishBlue: #4d5066;
$veryDarkGrayishBlue: #393a4c;
$veryDarkDesaturatedBlue: #25273c;